/* Variables
   ========================================================================== */

// Colors
$rise-green: #4ab767;
$rise-blue: #0081BA;
$start-color: #1f71a2;
$stop-color: #045888;
$danger: #d9534f;
$google-red: #df4a32;
$rise-premium: #dbf0e0;

// Tones
$white: #fff;
$lighter-gray: #f2f2f2;
$light-gray: #e6e6e6;
$gray: #555;
$dark-gray: #4d4d4d;

$light-border-color: #DDDDDD;
$border: 1px solid #ccc;

// Spacing
$title-margin: 6px;

// Borders
$light-border: 1px solid $light-border-color;
$dark-border: 1px solid $border;