<div class="component">
  <div class="page-header">
    <h1 class="page">App Subscription Status</h1>
  </div>

  <p class="lead">Component that queries the Store API and displays the App Subscription Status;
  Also, it opens the In-Store Dialog to allow the user to view manage their subscription</p>

  <p><strong>Dependencies</strong> <span class="label label-info">widget-settings-ui-core</span> <span class="label label-info">gadgets.rpc</span></p>

  <h3 class="add-top">Usage</h3>
  <p>Optionally include ng-model parameter for validation.</p>
  <hljs include="'app-subscription-status-usage'"></hljs>

  <h3>Script Includes</h3>
  <hljs include="'script-includes'"></hljs>

  <!-- Dynamic Example -->
  <div class="examples">
    <h3>Example</h3>
    <div class="paid-on-board">
      <h1>Support</h1>
      <p class="lead">Telephone, email and remote assistance, diagnosis and control for all Rise Vision applications and widgets.</p>

      <div class="about">
        <app-subscription-status
          product-id="2002"
          product-code="186c10da8a7eb826dc8a798e8a179cdb7c073ef9"
          company-id="f114ad26-949d-44b4-87e9-8528afc76ce4"
          product-price="75 monthly"
          ng-model="subscribed"></app-subscription-status>

        <div class="cover"></div>

        <div class="details">
          <p>Access to our team to help you with issues and answer questions from 8am and 5pm Central Standard Time, Monday through Friday, excluding holidays.</p>
          <p>Using our powerful remote assistance, we can see what you see and save you the headache of trying to explain everything in detail. You call us, we remote in and go to work on resolving the issue.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="script-includes">
bower_components/component-subscription-status/dist/js/subscription-status.js
</script>

<!-- Code Snippet -->
<script type="text/ng-template" id="app-subscription-status-usage">
<app-subscription-status
  product-id="{{productId}}"
  product-code="{{productCode}}"
  company-id="{{companyId}}"
  product-price="{{price}}"
  ng-model="subscribed"></app-subscription-status>
</script>
