<div class="section">
  <h5>{{'table.col-row-heading' | translate}}</h5>
  <div class="form-group">
    <label for="row-padding">{{'table.row-padding' | translate}}</label>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="input-group">
          <input id="row-padding" type="text"
          ng-model="table.rowPadding" class="form-control" value="0" />
          <span class="input-group-addon">{{'common.units.pixels' | translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="col-padding">{{'table.col-padding' | translate}}</label>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="input-group">
          <input id="col-padding" type="text"
          ng-model="table.colPadding" class="form-control" value="0" />
          <span class="input-group-addon">{{'common.units.pixels' | translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="row-color">{{'table.row-color' | translate}}</label>
    <div>
      <input color-picker id="row-color" color="table.rowColor" type="background">
    </div>
  </div>
  <div class="form-group">
    <label for="alt-row-color">{{'table.alt-row-color' | translate}}</label>
    <div>
      <input color-picker id="alt-row-color" color="table.altRowColor" type="background">
    </div>
  </div>
  <div class="form-group">
    <label for="col-header-font">{{'table.col-header-font.heading' | translate}}</label>
    <div class="row">
      <div class="col-md-12">
        <font-setting font-data="table.colHeaderFont"
            preview-text="{{'table.col-header-font.text' | translate}}">
        </font-setting>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="data-font">{{'table.data-font.heading' | translate}}</label>
    <div class="row">
      <div class="col-md-12">
        <font-setting font-data="table.dataFont"
            preview-text="{{'table.data-font.text' | translate}}">
        </font-setting>
      </div>
    </div>
  </div>
</div>
