<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">{{"transition.heading" | translate}}</label>
      <select name="transition-by" ng-model="transition.type" class="form-control">
        <option value="none">{{"transition.type.none" | translate}}</option>
        <option value="fade" ng-if="!hideFade">{{"transition.type.fade" | translate}}</option>
        <option value="scroll">{{"transition.type.scroll" | translate}}</option>
        <option value="page">{{"transition.type.page" | translate}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3" ng-if="transition.type !== 'scroll'">
    <div class="form-group">
      <label class="control-label">{{"transition.duration" | translate }}</label>
      <div class="input-group">
        <input name="transition-duration" type="number"  class="form-control" ng-model="transition.duration">
        <span class="input-group-addon">sec</span>
      </div>
    </div>
  </div>
  <div class="col-md-3" ng-if="transition.type === 'scroll'">
    <div class="form-group">
      <label class="control-label">{{"transition.direction.label" | translate}}</label>
      <select name="transition-direction" ng-model="transition.direction" class="form-control">
        <option value="up">{{"transition.direction.up" | translate}}</option>
        <option value="left">{{"transition.direction.left" | translate}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-3" ng-if="transition.type === 'scroll'">
    <div class="form-group">
      <label class="control-label">{{"transition.speed.label" | translate}}</label>
      <select name="transition-speed" ng-model="transition.speed" class="form-control">
        <option value="slowest">{{"transition.speed.slowest" | translate}}</option>
        <option value="slow">{{"transition.speed.slow" | translate}}</option>
        <option value="medium">{{"transition.speed.medium" | translate}}</option>
        <option value="fast">{{"transition.speed.fast" | translate}}</option>
        <option value="fastest">{{"transition.speed.fastest" | translate}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-3" ng-if="transition.type === 'scroll' && transition.direction === 'up' || transition.type === 'page'">
    <div class="form-group">
      <label class="control-label">{{"transition.resume.label" | translate}}</label>
      <span popover="{{'transition.resume.tooltip' | translate}}" popover-trigger="click"
            popover-placement="right" rv-tooltip></span>
      <div class="input-group">
        <input name="transition-resume" type="number" ng-model="transition.resume" class="form-control" />
        <span class="input-group-addon">{{"common.units.seconds" | translate}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3" ng-if="transition.type === 'scroll' && transition.direction === 'up' || transition.type === 'page'">
    <div class="form-group">
      <label class="control-label">{{"transition.pud.label" | translate}}</label>
      <span popover="{{'transition.pud.tooltip' | translate}}" popover-trigger="click"
            popover-placement="right" rv-tooltip></span>
      <div class="input-group">
        <input name="transition-pud" type="number" ng-model="transition.pud" class="form-control" />
        <span class="input-group-addon">{{"common.units.seconds" | translate}}</span>
      </div>
    </div>
  </div>
</div>
