/* Deprecate table-2
   ========================================================================== */
.table-2 {
  @extend .table;
}

/* Official table style
   ========================================================================== */
.table {
  width: 100%;
  margin-top: 0;
  > thead > tr > th {

    border-bottom: 1px solid $light-gray;
    color: $gray;
    padding: 12px;
    white-space: nowrap;
    a {
      color: $gray;
      display: inline-block;
    }
  }  
  > tbody > tr > td {
    border-top: none;
    border-bottom: 1px solid $lighter-gray;
    color: $gray;
    padding: 12px;
    vertical-align: top;
    strong {
      font-weight: 500;
    }
    a {
      color: $gray;
      display: inline-block;
    }
    &:first-child {
      font-weight: 500;
    }
    span {
      white-space: nowrap;
    }
  }
  > tbody > tr {
    &:last-child td {
      border-bottom: none;
    }
    &:hover {
      > td a {
        cursor: pointer;
        display: inline-block;
        color: $rise-blue;
      }
      > td a.non-clickable-file {
        color: $gray;
      }
      &.clickable-row {
        cursor: pointer;
        td {color: $rise-blue;}    
      }
      &.text-clickable-row {
        cursor: auto;
        td {color: $rise-blue;}    
      }
      > td a.non-clickable-file {
        color: $gray;
      }
    }
  }
}

.table-middle {
  > tbody > tr > td {
    vertical-align: middle;
  }
}

.table-selector {
  > thead > tr {
    th {
        label {
          margin: 0;
        }
        input[type=checkbox] {
          display:none; 
        }
        input[type=checkbox] + label:before {
          font-family: FontAwesome;
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          color: #d4d4d4;
          font-size: 16px;
          width: 16px;
          text-align: center;
          content:'\f096';
        }
        input[type=checkbox]:checked + label:before {
          content: '\f14a';
        }
      }
    }
  > tbody > tr {
    td {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      vertical-align: middle;
      &:first-child:before {
        font-family: FontAwesome;
        font-style: normal;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        color: #d4d4d4;
        font-size: 16px;
        width: 16px;
        height: 18px;
        text-align: center;
      }
    }
    &.disabled-row {
      background: #f5f5f5;
      td, td a {
        cursor: not-allowed;
        color: #999;
      }
      &:hover {
        a {
          color: #999;
        }
      }
    }

    &.back-btn {
      td {
        &:first-child:before {
          content: '\f060' !important;
        }
      }
    }

    &.no-select-row {
      td {
        &:first-child:before {
          content: '' !important;
        }
      }
    }

    &.active {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      &:hover {
        td {
          background: lighten($rise-green, 5%);
          color: #FFF;

        }
      }
      td {
        background: lighten($rise-green, 5%);
        color: #FFF;
         a {
            color: #FFF;
          }
          .text-muted {
            color: #FFF;
          }

        .folder {
          &:before {color:#FFF;}
        }
        &:first-child:before {
          color: #FFF;
        }
      }
    }
  }
  &.single-selector {
    > tbody > tr {
      td:first-child {
        &:before {
          content:'\f096';
        }
      }
      &.active { 
        td {
          &:first-child:before {content: '\f192';}
        }
      }
    }
  }
  &.multiple-selector {
    > tbody > tr {
      td:first-child {
        &:before {
          content:'\f096';
        }
      }
      &.active { 
        td {
          &:first-child:before {content: '\f14a';}
        }
      }
    }

     > tbody > tr.info-row {
      background-color: #eee;
      td:first-child {
        &:before {
          content:initial;
        }
      }
    }
}
}

.table-2 {
  > tbody > tr > td:first-child {
      input {
        display: inline-block;
      }
      span a {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
      }
    }
  }
  tr.blocked-file {
    >td {
    background: #f7f7f7;
    cursor: pointer;
    position: relative;
    .callout {
      top:45px;
      left: 0;
    }
  }
}

/* DEPRECATE */
/* Presentation Selector */

.presentation-selector {
  margin-top: 20px;

  /* Styled the same as navbar-left. */
  .selector-header {
    /* Positioning */
    float: left;

    /* Display & Box Model */
    width: 100%;
    padding: 5px 15px 5px 0;
    border-bottom: $light-border;
    margin: 0;

    li {
      /* Positioning */
      float: left;

      /* Display & Box Model */
      display: block;
      margin-left: 5px;
    }

    a {
      /* Display & Box Model */
      display: block;
      padding: 3px 10px;
      border: 1px solid #fff;

      /* Visual */
      font-weight: bold;
      line-height: 32px;
      color: $gray;
    }

    a:hover,
    .active > a,
    .active > a:hover,
    .active > a:focus {
      /* Display & Box Model */
      border: 1px solid $light-gray;

      /* Visual */
      color: $rise-blue;
      background-color: $lighter-gray;
    }

    .close-button {
      float: right;
    }

    .close {
      line-height: 32px;
    }
  }

  .search {
    margin-bottom: 20px;
  }

  .panel-body {
    clear: both;
  }
}