.folder-tabs {
	margin-bottom: 10px;
	font-size: 16px;
	border-bottom: 1px solid #d4d4d4;
  li {
  	float: left;
  	width: 33.3%;
  	text-align: center;
  	a {
  		border-bottom: 4px solid #FFF;
  	}
  	&:hover {
  	  a {
  	  	border:none;
  	  	background: none;
  	  }
  	}
    &.active {
      a {
      	border: none;
      	border-bottom: 4px solid $rise-green;
      	color: #444;
      	font-weight: 600;
      }
    }
  }
}