.subscription-status
{
  font-size: 15px;

  width: 100%;
  margin-bottom: 11px;
  padding: 6px 7px;

  text-align: center;
  > span
  {
    position: relative;
    top: 2px;
  }
  .btn span
  {
    position: relative;
    top: 0;
  }
  &.trial
  {
    color: green;
    border: 1px solid #4ab767;
    background: white;
    .btn-white
    {
      margin-left: 12px;
    }
  }
  &.cancelled,
  &.expired,
  &.suspended
  {
    color: #d20606;
    border: 1px solid #d20606;
    background: white;
    .btn-white
    {
      margin-left: 12px;

      color: #d20606;
      background-color: #fff;
    }
  }
}
