<div class="panel panel-default">
  <div class="collapse-panel panel-heading">
    <a href="" ng-class="{'panel-heading':true, collapsed:!collapse}" ng-click="collapse=!collapse">
       {{'columns.' + column.name | translate}}
    </a>
    <a href="" class="glyphicon glyphicon-minus-sign remove-column-button" ng-click="remove()"></a>
  </div>
  <div ng-class="{'panel-collapse':true, collapse:true, in:collapse}">
    <div class="panel-body">
     <!-- header -->
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="column-header-text">
              {{'column.header-text.label' | translate}}
            </label>
            <input id="column-header-text" type="text" ng-model="column.headerText" class="form-control" />
          </div>
        </div>
      </div>
      <!-- width -->
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="column-width">
              {{'column.width' | translate}}
            </label>
            <input id="column-width" type="text" ng-model="column.width" class="form-control" />
          </div>
        </div>
      </div>
      <!-- alignment -->
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="column-alignment">
              {{'column.alignment.label' | translate}}
            </label> <br/>
            <alignment align="column.alignment"></alignment>
          </div>
        </div>
      </div>
      <!-- decimal -->
      <div class="row" ng-if="column.type === 'int'">
        <div class="col-md-3">
          <div class="form-group">
            <label for="column-decimals">
              {{'column.decimals.label' | translate}}
            </label>
            <select id="column-decimals" ng-model="column.decimals" class="form-control">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
      </div>
      <!-- sign -->
      <div class="row" ng-if="column.type === 'int'">
        <div class="col-md-3">
          <div class="form-group">
            <label for="column-sign">
              {{'column.sign.label' | translate}}
            </label>
            <select id="column-sign" ng-model="column.sign" class="form-control">
              <option value="neg">-</option>
              <option value="pos-neg">+/-</option>
              <option value="bracket">()</option>
              <option value="arrow">Arrow</option>
            </select>
          </div>
        </div>
      </div>
      <!-- color-condition -->
      <div class="row" ng-if="column.type === 'int'">
        <div class="col-md-3">
          <div class="form-group">
            <label for="column-color-condition">
              {{'column.color-condition.label' | translate}}
            </label>
            <select id="column-color-condition" ng-model="column.colorCondition" class="form-control">
              <option value="none">{{'column.color-condition.none' | translate}}</option>
              <option value="up-green">{{'column.color-condition.up-green' | translate}}</option>
              <option value="up-red">{{'column.color-condition.up-red' | translate}}</option>
              <option value="positive-green">{{'column.color-condition.positive-green' | translate}}</option>
              <option value="positive-red">{{'column.color-condition.positive-red' | translate}}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- END options -->
    </div>
  </div>
</div>
