.app-header {
  @include make-row;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  .title-block {
    @include make-sm-column(6);
    h1 {
      display: inline-block;
      font-weight: 400;
      line-height: 43px;
      margin: 0 5px 0 0;
    }
  }
  .global-actions {
    @include make-sm-column(6);
    text-align: right;
    .btn {
      margin-bottom: 0;
    }

    @media (max-width: $screen-sm) {
      margin-top: 10px;
      .btn {
        width: 100%;
        margin: 0 0 5px;
        padding: 8px 0;
      }
    }
  }
  .info-link {
    display: inline-block;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
  }
}

