.app-header {
  @include make-row;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  .title-block {
    @include make-sm-column(6);
    h1 {
      display: inline-block;
      font-weight: 400;
      line-height: 43px;
      margin: 0 5px 0 0;
    }
  }

  .global-actions {
    @include make-sm-column(6);
    text-align: right;
    .btn {
      margin-bottom: 0;
    }
    .btn-group {
      .dropdown-menu {
        left: auto;
        right: 0;
        label {
          margin-left: 8px;
          display: block;
          padding: 10px;
          font-weight: 400;
          cursor: pointer;
          &:hover {
            color: $rise-blue;
          }
        }
      }
    }
    @media (max-width: 768px) {
      margin-top: 10px;
      .btn {
        width: 100%;
        margin: 0 0 5px;
        padding: 8px 0;
      }
      .btn-group {
        width: 100%;
        .dropdown-menu {
          width: 100%;
        }
      }
    }
  }
}

