
.cta-tooltip {
  .tooltip-inner {
    color: #4ab767;
    background: #fff;
    padding: 9px;
    border: 1px solid #4ab767;
    font-weight: bold;
  }
  .tooltip-arrow {
   border-bottom-color: #4ab767 !important;
 }
}
