.file-selector {
    .subscription-status {
        text-align: left;
        &.trial,
        &.cancelled,
        &.expired,
        &.suspended {
            border: none;
        }
    }
    .clear-selection {
        span {
            position: absolute;
            top: 8px;
            right: 13px;
            z-index: 3;
            cursor: pointer;
            width: 17px;
            text-align: center;
            display: block;
            height: 17px;
        }
    }
}

.pt-media-list li {
    height: 107px;
    width: 107px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-left: 4px;
    border: 1px solid #ddd;
    -o-transition: border .2s ease-out;
    -ms-transition: border .2s ease-out;
    -moz-transition: border .2s ease-out;
    -webkit-transition: border .2s ease-out;
    transition: border .2s ease-out;
}

.selected-border {
    border: 5px solid #4ab767 !important;
}

// Add to Utility Classes later - currently used in Grid View
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pt-media-list img {
    width: 100%;
    height: 100%;
}

.pt-media-list img.disabled {
    opacity: .4;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: not-allowed;
}

.pt-media-list li:hover {
    border-color: #4ab767;
}

.pt-media-list li .checkbox {
    position: absolute;
    top: 6px;
    left: 10px;
    margin-right: 10px;
    color: #d4d4d4;
    font-size: 16px;
    width: 16px;
    vertical-align: middle;
    text-align: center;
    font-family: FontAwesome;
    cursor: pointer;
}

.pt-media-list li span {
    position: absolute;
    bottom: 6px;
    left: 50%;
}

.pt-media-list li.folder,
.pt-media-list li.placeholder-item {
    background-color: #fff;
}

.pt-media-list li.folder {
    cursor: pointer;
}

.pt-media-list li.folder-extended {
    width: 329px;
    span.image-folder-info {
        top: 21px !important;
    }
}

.pt-media-list li.folder img {
    width: 98px;
    height: 98px;
    float: left;
}

.pt-media-list li.folder span,
.pt-media-list li.disabled-item span,
.pt-media-list li.single-item span,
.pt-media-list li.placeholder-item span {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 91px;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    &:first-child {
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 33px;
        border: 1px solid red;
    }
    &.u_ellipsis-md {
        width: 87%;
        margin-left: 7px;
        font-size: 11px;
    }
}

.pt-media-list li.folder span.u_ellipsis-md {
    font-size: 11px;
}

.pt-media-list li.folder-extended span.u_ellipsis-md {
    width: 29%;
}

.pt-media-list li.folder span.image-folder-info {
    position: absolute;
    left: 105px;
    top: 25px;
    line-height: 13px;
    font-size: 11px;
    width: 170px;
}

.pt-media-list li.placeholder-item svg {
    width: 38px;
    height: 38px;
    margin-top: 19px;
    position: relative;
    top: 6px;
    & path {
        fill: #4ab767;
    }
}

.pt-media-list li.disabled-item {
    cursor: not-allowed;
    svg {
        width: 38px;
        height: 38px;
        margin-top: 19px;
        position: relative;
        top: 6px;
    }
    & path {
        fill: #ddd;
    }
}

.pt-media-list li.folder svg {
    width: 38px;
    height: 38px;
    margin-top: 19px;
    position: relative;
    top: 6px;
    & path {
        fill: #4ab767;
    }
}

.pt-media-list li.folder-extended svg {
    float: left;
    margin-left: 30px;
    top: 3px;
}

// ONBOARDING INPUT FORM
.pt-onboarding-list li {
      height: 137px;
      width: 137px;
          span {
            position: absolute;
            bottom: 6px;
            left: 0;
            width: 100%;
            padding: 0 12px;
            word-wrap: normal;
            white-space: pre-line;
            line-height: 15px;
          }
          img {
            width: 40%;
            height: 40%;
            margin-top: 29px;
            margin-left: 0px;
        }
}

// REPLACE ABOVE WITH SCROLLING THUMBS IMGS
.btn-upload {
    background: #f2f2f2;
    color: #555;
}

.btn-upload span {
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.btn-upload i {
    margin-top: 20px;
    font-size: 28px;
}

#storageSelectorModal,
.storage-app {
    .btn-group {
        display: inline;
    }
}
