.financial-selector {
	.hero {
		text-align: center;
		padding-top: 20px;
		-webkit-transition: all 0.2s;
   		transition: all 0.2s;
   		height: 400px;
   	h1 {
   		color: #FFF;
			font-size: 24px;
			margin-bottom: 0;
			font-weight: 600;
		}
		h3 {
			font-weight: 400;
			color: #CCC;
			font-size: 18px;
		}
	}
	&.financial-selector--login {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 80px;
		overflow: hidden;
		background-color: #666;
		background-image: url('https://s3.amazonaws.com/Rise-Images/financial-selector/stock.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
		background-position: bottom;
		-webkit-transition: all 0.2s;
   	transition: all 0.2s;
		&.is-email-login {
			background-color: #bcbcbc;
		}
	}
}

.financial-selector__container {
	-webkit-transition: all 0.8s;
   transition: all 0.8s;
   position: relative;
  .panel-email-login {
  	@extend .is-hidden;
  	height: 400px;
  	legend {
		padding: 10px;
	}
  }
	&.email-login-animation {
		-webkit-transform: translate(0,-400px);
		.hero {
			opacity: 0;
		}
		.panel-email-login {
			@extend .is-visible;
		}
	}
}

.financial-selector {
	@media (min-width: $screen-lg) {
		.hero {
			h1 {
				font-size: 48px;
			}
			h3 {
				font-size: 24px;
			}
		}
	}
}

.drag-handle {
	background-image: url('https://s3.amazonaws.com/Rise-Images/UI/dot-pattern.png');
	width: 12px;
	height: 36px;
	float: left;
	margin-right: 10px;
}

.bottom-save-block {
	background-color: #F7F7F9;
	border-top: 1px solid #d4d4d4;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 16px 0;
	z-index: 9999;
	box-shadow: 0px -4px 10px 0 rgba(22,22,22,0.08);
}


.is-hidden {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.is-visible {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 1;
}


/* OLD STYLE */
.tag-manager .label {
	display: inline-block;
	margin:5px;
	padding: 8px 9px;
}
.tag-manager .tags { margin: 10px 0; }

