#intercom-launcher {
  list-style: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 130px;
  width: 134px;
  padding: 8px 5px;
  border: 3px solid #fff;
  border-right: none;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  cursor: pointer;
}

#intercom-container .intercom-launcher-button {
  position: absolute !important;
  bottom: 7px !important;
  right: 10px !important;
  background-color: #79807B !important;
  border: none !important;
  box-shadow: none !important;
  float: right !important;
}

#intercom-container .intercom-launcher {
  position: fixed;
  bottom: 0 !important;
  right: 0 !important;
  background: #79807B !important;
  top: 40% !important;
  color: white !important;
  width: 60px !important;
  height: 45px !important;
}

#intercom-container .intercom-launcher-preview {
  position: absolute;
  bottom: 0;
  right: 67px;
  max-width: 205px;
  padding: 10px;
  color: white;
  border-radius: 0;
  background: none;
  cursor: pointer;
  width: 205px;
}

#intercom-container .intercom-launcher-badge {
  top: 4px !important;
  right: 3px !important;
}

#intercom-container .intercom-launcher-inactive.intercom-launcher-maximized {
  opacity: 1 !important;
  visibility: visible !important;
}

#intercom-container .intercom-launcher-inactive {
  visibility: hidden !important;
}

// #intercom-container .intercom-launcher-enabled {
//   visibility: hidden !important;
// }

#intercom-container .intercom-launcher-preview:after {
  background-color: #79807B;
}

#intercom-container .intercom-launcher-preview {
  box-shadow: none;
}

#intercom-container .intercom-launcher-preview .intercom-comment-body {
  line-height: 16px;
}

#intercom-container .intercom-launcher-preview {
  position: absolute;
  bottom: 2px;
  right: 60px;
  max-width: 240px;
  padding: 8px;
  color: white;
  border-radius: 0;
  background: none;
  cursor: pointer;
}
