.arrow-steps {
    height: 80px;
    width: 100%;
    //STANDARD STEP
    .step {
        font-size: 14px;
        text-align: center;
        color: #666;
        cursor: default;
        margin: 0;
        padding: 10px 10px 10px 50px;
        width: 23%;
        height: 100%;
        float: left;
        position: relative;
        background-color: #eee;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-left: 5px solid #fff;
        &:first-child {
            padding-left: 30px;
            width: 19%;
        }
        &:after,
        &:before {
            content: " ";
            position: absolute;
            top: 0;
            right: -37px;
            width: 0;
            height: 0;
            border-top: 42px solid transparent;
            border-bottom: 39px solid transparent;
            border-left: 37px solid #eee;
            z-index: 2;
        }
        &:before {
            right: auto;
            left: 0;
            border-left: 37px solid #fff;
            z-index: 0;
        }
        &:first-child:before {
            border: none;
        }
        &:first-child, &:last-child:after {
            border: 0;
        }
      
        // STEP CONTENTS
        & span:first-child {
            font-size: 17px;
            margin-left: 12px;
        }
        // STEP - CURRENT 
        &.current {
            color: #4ab667;
            background-color: #def4e4;
        }
        &.current span:first-child {
            color: #444;
            font-weight: 500;
        }
        &.current:after {
            border-left: 37px solid #def4e4;
        }
        &.current span:nth-child(2) {
            position: absolute;
            bottom: 10px;
            left: 18px;
            width: 100%;
        }
        // STEP - COMPLETED
        &.completed {
            color: #8d8d8d;
            background-color: #ddd;
        }
        &.completed:after {
            border-left: 37px solid #ddd;
        }
        &.completed span:first-child {
            font-size: 17px;
        }
        &.completed span:first-child:before {
            content: "✔";
            top: -2px;
            left: -20px;
            color: $rise-green;
        }
        &.completed span.completed-tag {
            background-color: #ccc;
            font-size: 14px;
            display: block;
        }
        //FINAL STEP TALLY
        &:last-child {
            background-color: #fff;
            width: 12%;
            display: flex;
            justify-content: center;
            padding-left: 30px;
        }
        &:last-child span {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 17px;
        }
        &.current:last-child {
            color: #4ab667;
            background-color: #def4e4;
            width: 12%;
            display: flex;
            justify-content: center;
            padding-left: 30px;
        }
        &.current:last-child span {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 17px;
            margin-left: 5px;
        }
        &.completed span:last-child:before {
            content: "";
            top: -2px;
            left: -20px;
        }
    }
}



//RESPONSIVE CLASSES
@media (max-width: $screen-lg) {
    .arrow-steps .step {
        & span:first-child {
            font-size: 14px;
            display: flex;
            line-height: 16px;
        }
        &.completed span:first-child {
            font-size: 14px;
            display: flex;
            line-height: 16px;
        }
        &.completed span.completed-tag {
            font-size: 14px;
        }
        &.completed {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media (max-width: $screen-lg) {
    .arrow-steps .step {
        & span:first-child {
            font-size: 12px;
            display: flex;
            line-height: 16px;
        }
        &.completed span:first-child {
            font-size: 12px;
            display: flex;
            line-height: 16px;
        }
        &.completed span.completed-tag {
            font-size: 12px;
        }
        &.completed {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &:last-child span {
            height: 100%;
            margin-left: 0;
            flex-direction: column;
        }
    }
    .onboard-actions .btn {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 2px;
    }
}
