

.protip-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  line-height: 1;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 1px solid #4ab767;
}

.protip-container > i {
  position: absolute;
  left: 10px
}

.protip-container > i + div {
  padding-left: 20px
}

.protip-arrow {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent
}

.protip-show {
  opacity: 1;
  pointer-events: auto
}

.protip-content {
	width: 180px;
	text-align: center;
	padding: 12px;
}

.protip-skin-default--scheme-pro.protip-container {
  color: #4ab767;
  background: #fff;
  font-family: sans-serif;
  transition: opacity 0.2s ease-out
}

.protip-skin-default--scheme-pro[data-pt-position="top-left"] .protip-arrow,
.protip-skin-default--scheme-pro[data-pt-position="top"] .protip-arrow,
.protip-skin-default--scheme-pro[data-pt-position="top-right"] .protip-arrow {
  top: 100%;
  left: auto;
  margin: 0 0 0 -8px;
  border-width: 8px 8px 0 8px;
  border-color: #4ab767 transparent transparent transparent
}

.protip-skin-default--scheme-pro[data-pt-position="top-left"] .protip-arrow {
  left: 20px
}

.protip-skin-default--scheme-pro[data-pt-position="top"] .protip-arrow {
  left: 50%
}

.protip-skin-default--scheme-pro[data-pt-position="top-right"] .protip-arrow {
  left: auto;
  right: 20px;
  margin-right: -8px
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-left"] .protip-arrow,
.protip-skin-default--scheme-pro[data-pt-position="bottom"] .protip-arrow,
.protip-skin-default--scheme-pro[data-pt-position="bottom-right"] .protip-arrow {
  top: -8px;
  left: auto;
  margin: 0 0 0 -8px;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #4ab767 transparent;
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-left"] .protip-arrow {
  left: 20px
}

.protip-skin-default--scheme-pro[data-pt-position="bottom"] .protip-arrow {
  left: 50%
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-right"] .protip-arrow {
  left: auto;
  right: 20px;
  margin-right: -8px;
}

.protip-skin-default--scheme-pro[data-pt-position="left-top"] .protip-arrow,
.protip-skin-default--scheme-pro[data-pt-position="left"] .protip-arrow,
.protip-skin-default--scheme-pro[data-pt-position="left-bottom"] .protip-arrow {
  top: auto;
  left: 100%;
  margin: -8px 0 0 0;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #4ab767;
}

.protip-skin-default--scheme-pro[data-pt-position="left-top"] .protip-arrow {
  top: 20px
}

.protip-skin-default--scheme-pro[data-pt-position="left"] .protip-arrow {
  top: 50%
}

.protip-skin-default--scheme-pro[data-pt-position="left-bottom"] .protip-arrow {
  top: auto;
  bottom: 20px;
  margin-bottom: -8px
}

.protip-skin-default--scheme-pro[data-pt-position="right-top"] .protip-arrow,
.protip-skin-default--scheme-pro[data-pt-position="right"] .protip-arrow,
.protip-skin-default--scheme-pro[data-pt-position="right-bottom"] .protip-arrow {
  top: auto;
  right: 100%;
  margin: -8px 0 0 0;
  border-width: 8px 8px 8px 0;
  border-color: transparent #4ab767 transparent transparent
}

.protip-skin-default--scheme-pro[data-pt-position="right-top"] .protip-arrow {
  top: 20px
}

.protip-skin-default--scheme-pro[data-pt-position="right"] .protip-arrow {
  top: 50%
}

.protip-skin-default--scheme-pro[data-pt-position="right-bottom"] .protip-arrow {
  top: auto;
  bottom: 20px;
  margin-bottom: -8px
}

.protip-skin-default--scheme-pro[data-pt-position="top-left-corner"] {
  border-bottom-right-radius: 0
}

.protip-skin-default--scheme-pro[data-pt-position="top-left-corner"] .protip-arrow {
  top: 100%;
  left: 100%;
  margin: 0 0 0 -8px;
  border-width: 0 8px 8px 0;
  border-color: transparent #4ab767 transparent transparent
}

.protip-skin-default--scheme-pro[data-pt-position="top-right-corner"] {
  border-bottom-left-radius: 0
}

.protip-skin-default--scheme-pro[data-pt-position="top-right-corner"] .protip-arrow {
  top: 100%;
  left: -8px;
  margin: 0 0 0 8px;
  border-width: 8px 8px 0 0;
  border-color: #4ab767 transparent transparent transparent
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-left-corner"] {
  border-top-right-radius: 0
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-left-corner"] .protip-arrow {
  top: -8px;
  left: 100%;
  margin: 0 0 0 -8px;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #4ab767 transparent
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-right-corner"] {
  border-top-left-radius: 0
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-right-corner"] .protip-arrow {
  top: 0;
  left: -8px;
  margin: -8px 0 0 8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #4ab767
}
