/* Standard Table
   ========================================================================== */

.table {
    width: 100%;
    margin-bottom: 0;
    &.table--hover {
        @extend .table-hover;
    }
    .table-header {
        .table-header__row > .table-header__cell {
            padding: 8px;
            > a {
                color: $gray-dark;
                display: block;
            }
            label {
                margin: 0;
            }
            input[type=checkbox] {
                display: none;
            }
            input[type=checkbox] + label:before {
                font-family: FontAwesome;
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
                color: #d4d4d4;
                font-size: 16px;
                width: 16px;
                text-align: center;
                content: '\f096';
            }
            input[type=checkbox]:checked + label:before {
                content: '\f14a';
            }
        }
    }
    .table-body {
        .table-body__row {
            &:hover {
                cursor: pointer;
                a {
                    color: $rise-blue;
                }
            }
            & > .table-body__cell {
                vertical-align: middle;
                padding: 12px 8px;
                -webkit-touch-callout: none;
                cursor: pointer;
                &:first-child {
                    input {
                        display: inline-block;
                    }
                    span a {
                        display: inline-block;
                        vertical-align: middle;
                        overflow: hidden;
                    }
                }
                &:first-child:before {
                    font-family: FontAwesome;
                    font-style: normal;
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: middle;
                    color: #d4d4d4;
                    font-size: 16px;
                    width: 16px;
                    height: 18px;
                    text-align: center;
                }
                > a {
                    display: block;
                }
                > span {
                    display: inline-block;
                    vertical-align: middle;
                }
                &.table-body__cell_highlight {
                    background-color: #dbf0e0;
                    font-weight: bold;
                }
            }
        }
    }
    //end .table-body
    &.table--sortable {
        .table-body {
            .table-body__row > .table-body__cell {
                cursor: move;
            }
            .table-body__row:hover > .table-body__cell {
                background: #f5f5f5;
            }
        }
    }
    &.table--selector {
        .table-body {
            .table-body__row {
                & > .table-body__cell {
                    cursor: pointer;
                    &:first-child i {
                        margin: 0 4px;
                    }
                }
                &.active {
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    -webkit-animation-name: fadeIn;
                    animation-name: fadeIn;
                    &:hover {
                        .table-body__cell {
                            background: lighten($rise-green, 5%);
                            color: #FFF;
                        }
                    }
                    .table-body__cell {
                        background: $rise-green;
                        color: #FFF;
                        a,
                        .text-muted,
                        .text-green {
                            color: #FFF;
                        }
                        .text-muted {
                            color: #FFF;
                        }
                        .file,
                        .folder,
                        .fa {
                            &:before {
                                color: #FFF;
                            }
                        }
                        &:first-child:before {
                            color: #FFF;
                        }
                    }
                }
                &.table-body__row--disabled {
                    .table-body__cell,
                    .table-body__cell a {
                        cursor: not-allowed;
                        color: #999;
                        background: #f5f5f5;
                    }
                    &:hover {
                        a {
                            color: #999;
                        }
                    }
                }
                &.table-body__row--no-select {
                    .table-body__cell {
                        &:first-child:before {
                            content: '' !important;
                        }
                    }
                }
                &.table-body__row--blocked-file {
                    > .table-body__cell {
                        background: #f7f7f7;
                        cursor: pointer;
                        position: relative;
                        .callout {
                            top: 45px;
                            left: 0;
                        }
                    }
                }
            }
        }
        &.table--back-btn {
            .table-body__cell {
                &:first-child:before {
                    content: '\f060' !important;
                }
            }
        }
        &.table--single-selector {
            > .table-body > .table-body__row {
                .table-body__cell:first-child {
                    &:before {
                        content: '\f096';
                    }
                }
                &.active {
                    .table-body__cell {
                        &:first-child:before {
                            content: '\f192';
                        }
                    }
                }
            }
        }
        &.table--multiple-selector {
            > .table-body > .table-body__row {
                .table-body__cell:first-child {
                    &:before {
                        content: '\f096';
                    }
                }
                &.active {
                    .table-body__cell {
                        &:first-child:before {
                            content: '\f14a';
                        }
                    }
                }
            }
            > .table-body > .table-body__row.info-row {
                background-color: #eee;
                .table-body__cell:first-child {
                    &:before {
                        content: initial;
                    }
                }
            }
        }
    }
} // end .table

/* Presentation Selector */

//TODO: No references in current Presentation Selector in either Schedules or Alerts
.presentation-selector {
    margin-top: 20px;
    /* Styled the same as navbar-left. */
    .selector-header {
        /* Positioning */
        float: left;
        /* Display & Box Model */
        width: 100%;
        padding: 5px 15px 5px 0;
        border-bottom: $light-border;
        margin: 0;
        li {
            /* Positioning */
            float: left;
            /* Display & Box Model */
            display: block;
            margin-left: 5px;
        }
        a {
            /* Display & Box Model */
            display: block;
            padding: 3px 10px;
            border: 1px solid #fff;
            /* Visual */
            font-weight: bold;
            line-height: 32px;
            color: $gray;
        }
        a:hover,
        .active > a,
        .active > a:hover,
        .active > a:focus {
            /* Display & Box Model */
            border: 1px solid $light-gray;
            /* Visual */
            color: $rise-blue;
            background-color: $lighter-gray;
        }
        .close-button {
            float: right;
        }
        .close {
            line-height: 32px;
        }
    }
    .search {
        margin-bottom: 20px;
    }
    .panel-body {
        clear: both;
    }
}
