/* -- FLUID GRID STYLES -- */

.template-grid {
  @extend .scrollable-list;
  padding: 0;
  margin-bottom: 5px;
  border: none;
  max-height: calc(100vh - 320px);
}

.template-grid li{
  display: inline-block;
  box-shadow: 0 2px 5px 0 rgba(80,80,80,0.1),0 2px 10px 0 rgba(80,80,80,0.1);
  background: #eee;
  margin-right: 22px;
  width: 22.6%;
  padding-top: calc(14% + 64px); /* Used instead of height to give elements fluid, width-based height */
  margin-bottom: 2.5%;
  position: relative;
  > .template-image {
  	display: block;
  	position: absolute;
    overflow: hidden;
  	top: 0;
  	width: 100%;
  	height: 100%;
  }
  .show-details {
  	display: none;
  	font-family: FontAwesome;
  	width: 100%;
  	height: calc(100% - 64px);
  	position: absolute;
  	background: rgba(50,50,50,0.8);
  	font-size: 24px;
  	color: #FFF;
  	font-weight: 800;
  	top:0;
  	z-index: 1000;
    &:before {
      content:'\f002';
      display: block;
      text-align: center;
      color: #FFF;
      line-height: 150px;
    }
  }
  &:hover {
  	.show-details {
  		display: block;
  	}
  }
}

.template-grid:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.template-grid .placeholder{
  padding: 0;
}

/* 2 COL */

@media (max-width: 996px){
  .template-grid li{
    width: 48%;
    padding-top: calc(26.4% + 64px);
    margin-bottom: 4%;
    margin-right: 5px;
  }
}

/* SINGLE COL */

@media (max-width: $screen-sm){
  .template-grid li{
    width: 100%;
    padding-top: calc(55.2% + 64px);
    margin-bottom: 5%;
    margin-right: 0;
  }
}

.blank-template {
	.template-image {
		color: #999;
	}
  a {
    color: $rise-green;
  }
	p {
		text-align: center;		
		height: 100%;
		padding-top: 26%;
		background: #FFF;
		font-size: 24px;
		span {
			display: block;
		}
	}
	&:hover {
  	&:before {
  		display:none !important;
  	}
  }
}

.template-info {
	background: #FFF;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px;
	color: $gray;
	text-align: left;
	h3 {
		margin: 0 0 8px;
		font-size: 14px;
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	p {
		margin: 0;
		font-size: 12px;
		color: #999;
		line-height: 10px;
	}
}

.suggest-template {
	text-align: left;
	.template-image {
		padding: 0 20px;
		display: block;
		background: $rise-green;
		color: #FFF;
    a {
      color: #FFF;
    }
	}
	h3 {
		margin: 0 0 5px 0;
		padding-top: 26%;
		color: #FFF;
		font-size: 21px;
	}
	p {
		margin: 0;
	}
	&:hover {
  	&:before {
  		display:none !important;
  	}
  }
}

.template-pricing {
  color: #666;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  span {
    display: inline-block;
    vertical-align: bottom;
    font-size: 32px;
    font-weight: 800;
    color: #222;
    margin-right: 4px;
  }
}
