<div class="row">
	<div class="col-md-12">
		<div class="form-group">
		    <label for="columns-to-display">{{'columns.label' | translate}}</label>
		    <button type="button"
				class="btn btn-link btn-help"
				data-toggle="popover" data-placement="right">
				<span class="glyphicons circle_question_mark"></span>
			</button>
			<div class="row">
				<div class="col-md-8">
					<div class="tag-manager tags">
						<span ng-repeat="column in columnNames"
						ng-class="{label:true, 'label-primary':!column.show, 'label-default':column.show}"
						ng-click="onColumnClick(column)">
							{{'columns.' + column.name | translate}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-repeat="column in columns">
	<div class="col-md-12">
		<div class="panel-group">
			<column-setting column="column"></column-setting>
		</div>
	</div>
</div>
