/* Display Settings
   ========================================================================== */

.reboot-time {
  margin-bottom: 0;
  table.time-picker {
    display: inline-block;
    vertical-align: middle;
  }
  label, .checkbox {
    display: inline-block;
  }
  @media (max-width: 768px) {
    .checkbox {
      display: block;
    }
  }
}

.download-buttons {
  img {
    height: 32px;
  }
  .row:nth-child(2) {
    margin-top: 6px;
  }
}

.display-panel {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  .panel-heading {
    padding: 4px;
    border-left: 0;
  }
  h3.panel-title {
    margin-right: 0;
  }
  .panel-body {
    padding: 4px;
    font-size: 22px;
    font-weight: 800;
  }
}

/* Display Status Circle
   ========================================================================== */

.offline {
  &:before {
    color:#e74c3c;
  }
}
.notinstalled {
  &:before {
    color:#444;
  }
}
.online {
  &:before {
    color:$rise-green;
  }
}

/* Display Table
   ========================================================================== */

.display-name {
  span {
    @extend .ellipsis;
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
  }
}

.display-address {
  span {
    @extend .ellipsis;
    max-width: 320px;
    display: inline-block;
    vertical-align: middle;
  }
}