.website {
  font-size: 18px;
  color: #555;
  background-attachment: fixed;
  h1, h2, h3, h4 {
    color: #222;
    line-height: 1.3;
  }
  h1 {
    font-size: calc(55px + 0.1vw);
    font-weight: 600;
    letter-spacing: -.01em;
    @media (max-width: 1200px) {
      font-size: calc(38px + 0.6vw);
    }
  }
  h2 {
    font-size: 40px;
    font-weight: 300;
    margin-top: 0;
    @media (max-width: 992px) {font-size:32px;}
  }
  h3 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 16px;
  }
  h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  p {
    font-weight: 400;
  }
  .navbar-nav li {
    border-color: transparent;
  }

  .navbar-nav li a {
    color: #666 !important;
  }

  .navbar-nav li a:hover {
    background: none !important;
    font-weight: 600;
  }

  .navbar-default .btn-link {
    color: #666;
  }
  .content-box-body {
    padding: 32px;
  }
  .green-line {
    position: relative;
    display: inline-block;
    &:after {
      margin: 16px 0 16px;
      width: 60%;
      height: 2px;
      background: $rise-green;
      display: block;
      content: '';
    }
  }
  .modal-content {
    padding:32px;
    @media (max-width: 768px) {
      padding:16px;
    }

  }
  .modal-header {
    background: none;
    .modal-title {padding-bottom: 0; margin-bottom: 0;}
    .logo {
      img {
        width: 140px;
        padding: 0 15px;
      }
    }
  }
  .btn {
    svg {margin-right: 8px;}
    svg path {fill: #FFF;}
  }
  #carousel, #slider {
    margin-bottom: 0;
  }
}

.navbar-website {
  z-index: 1000;
  padding: 16px 0 !important;
  border-bottom: none;
  height: 76px;
  font-size: 16px;
  margin-bottom: 0;
  border-radius: 0;
  position: absolute;
  width: 100%;
  top: 1px;
  &.isSticky {
    border-bottom: 1px solid $light-gray;
  }
  .container {
    margin: 0 auto;
  }
  .navbar-brand {
    margin-right: 20px;
  }
  .navbar-header {
    margin: 0;
  }
  .navbar-collapse.navbar-left {
    margin: 0;
    padding: 0;
  }
  .navbar-left .navbar-nav {
    margin-top: 4px;
  }
  .collapsed-nav {
    background: #FFF;
    border-bottom: 1px solid $light-gray;
  }
  .btn-link {
    font-size: 16px;
    font-weight: 500;
    &:hover, &:active, &:focus {
      color:$dark-gray;
      text-decoration: none;
      outline: none;
    }
  }
}
.navbar .navbar-header .navbar-left a{
    line-height: 33px;
    font-size: 16px;
    padding: 4px;
    font-weight: 500;
    margin-right: 3px;
    border-radius: 3px;
    white-space: nowrap;
    padding: 0px 5px;
}

.navbar-website .navbar-left .navbar-nav{
  margin-left: 20px;
  margin-top: 0px;
}

.home-banner {
  padding: 204px 0 144px 0;
  background: #FFF;
  overflow: hidden;
  .container {
    position: relative;
  }
  @media (max-width: 992px){
    padding: 92px 0 0 0;
  }
  .banner-headline {
    float: right;
    @media (max-width: 992px) {
      float:none;
    }
    h1 {
      position: relative;
      z-index: 100;
      margin-top: 8px;
      letter-spacing: -1px;
      span {
        display: block;  
      }
    }
    h2 {
      color: $rise-green;
      font-weight: 500;
    }
  }
  
  .scroll-down {
    margin-top: 32px;
    display: block;
    font-size: 32px;
  }
  .rv-logo {
    width: 100px;
    margin-bottom: 32px;
  }
  .content-showcase {  
    position: absolute;
    top: -48px;
    left: 32px;
    img {
      width: 540px;
    }
    @media (max-width: 992px) {
      position:relative;
      top:0;
      left:16px;
      img {}
    }
    @media (max-width: 786px) {
      img {width: 300px;}
    }
    
  }
}

.content-showcase {
  perspective: 1200px;
  -webkit-perspective: 1200px;
  perspective-origin: 100px left;
  -webkit-perspective-origin: 100px left;
  
  display: inline-block;
  .tv-side {
    position: absolute;
    width: 21px;
    height: 100%;
    top: 0;
    left: 0;
    background: #111;
    z-index: 1000;
    border-radius: 8px 0px 0px 8px;
    transform-origin: center right;
    -webkit-transform-origin: center right;
    transform: rotateY(-30deg) translate3d(-24px, 0, 0px) scaleY(1.01);
    -webkit-transform: rotateY(-30deg) translate3d(-24px, 0, 0px) scaleY(1.01);
  }
  .screen {
    transform: rotateY(30deg) translate3d(0, 0, 0px);
    -webkit-transform: rotateY(30deg) translate3d(0, 0, 0px);
    transform-origin: center left;
    -webkit-transform-origin: center left;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 15px 30px 15px;
    -webkit-box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.55), 10px 10px 15px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.55), 10px 10px 15px 10px rgba(0,0,0,0.15);
    box-shadow: inset inset 0px 0px 12px 5px rgba(0,0,0,0.55), 10px 10px 15px 10px rgba(0,0,0,0.15);
    background-image: -webkit-radial-gradient(top, circle cover, #999 0%, #222 80%);
    background-image: -moz-radial-gradient(top, circle cover, #999 0%, #222 80%);
    background-image: -o-radial-gradient(top, circle cover, #999 0%, #222 80%);
    background-image: radial-gradient(top, circle cover, #999 0%, #222 80%);
    &:before {
      position:absolute;
      width: 3px; height: 3px;
      border-radius: 50%;
      background: #ccfd00;
      content: '';
      bottom: 15px;
      left: 15px;
    }
    .screen-content {
      position: relative;
      padding: 2px;
      border-bottom: 1px solid #666;
      background: rgb(50,50,50);
      background: -moz-linear-gradient(-45deg, rgba(50,50,50,0) 0%, rgba(80,80,80,1) 100%), -moz-linear-gradient(left, rgba(20,20,20,1) 0%, rgba(40,40,40,1) 100%);
      background: -webkit-linear-gradient(-45deg, rgba(50,50,50,0) 0%,rgba(80,80,80,1) 100%), -webkit-linear-gradient(left, rgba(20,20,20,1) 0%,rgba(40,40,40,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(50,50,50,0) 0%,rgba(80,80,80,1) 100%), -o-linear-gradient(left, rgba(20,20,20,1) 0%,rgba(40,40,40,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(50,50,50,0) 0%,rgba(80,80,80,1) 100%), -ms-linear-gradient(left, rgba(20,20,20,1) 0%,rgba(40,40,40,1) 100%);
      background: linear-gradient(135deg, rgba(50,50,50,0) 0%,rgba(80,80,80,1) 100%), linear-gradient(to right, rgba(20,20,20,1) 0%,rgba(40,40,40,1) 100%);
      &:before {
        position:absolute;
        width: 100%; height: 100%;
        -webkit-box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.65);
        -moz-box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.65);
        box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.65);
        content: '';
        top: 0;
      }
    }
  }
}

.home-features {
  padding: 32px 0 32px 0;
  h2 {
    padding-bottom: 32px;
  }
  .feature {
    border:1px solid $light-gray;
    background-color: #FFF;
    position: relative;
    display: block;
    color: $gray;
    padding: 0;
    margin-bottom: 32px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: inset 0 -1px 0 #d5d1cb,0 1px 4px rgba(113,108,102,.1),transparent 0 0 0;
    box-shadow: inset 0 -1px 0 #d5d1cb,0 1px 4px rgba(113,108,102,.1),transparent 0 0 0;
    p {margin-bottom: 0;}
    p + p {margin-top: 8px;}
    .image {
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 16px;
      vertical-align: top;
      line-height: 48px;
      img {width: 48px;}
    }
    h3 {
      display: inline-block;
      max-width: 400px;
      margin-bottom: 16px;
      margin-top: 8px;
      &.multi-line {
        @media (min-width: 1200px) {margin-top:-4px;}
      }
    }
    .image + h3 + p + .btn {
      margin-top: 16px;
      @media (max-width: 992px) {margin-left:84px;}
      @media (max-width: 768px) {margin-left:84px; max-width: 200px; white-space: normal;}
    }
  }
}

.flex-direction-nav {
  a:before {
    font-size: 28px !important;
  }
}

.home-pricing {
  background-color: #FFF;
  padding: 64px 0 64px;
  position: relative;
  h2 {
    margin: 0 0 16px 0;
  }
  .btn {
    margin-top: 16px;
    &.btn-default {
      white-space: normal;
      text-align: left;
    }
  }
}

.button-row {
  @media (max-width: 768px) {
    .btn {
      display:block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.pricing {
  h3 {
    span {
      font-size: 16px;
      color: #666;
    }
  }
  h4 {
    padding: 16px 0;
    margin: 0 0 0 0;
    line-height: 1.7;
    @media (max-width: 768px) {
      margin:0;
      padding: 0;
    }
  }
  .offer-action {
    display: block;
    margin-top: 10px;
    a {
      width: 90px;
    }
  }
  .offer-header {
    position: relative;
    background-color: #FFF;
    border: 1px solid $light-gray;
    border-radius: 6px 6px 0 0;
    padding: 16px;
    h3 {margin: 0;}
    p {padding: 16px;}
  }
  
  .offer-box {
    border: 1px solid $light-gray;
    padding: 16px;
    background-color: #FFF;
    border-top: none;
    min-height: 100px;
    p {
      margin: 0;
    }
  }
  .offer {
    padding: 16px;
    border-bottom: 1px solid $light-gray; 
    p {
      margin: 0;
    }
  }
  &.last, .last {
    .offer-box {
      border-radius: 0 0 6px 6px;
      margin-bottom: 32px;
    }
  }
  .icon-community, .icon-storage, .icon-support {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-size: 100%;
  }
}


.home-logos {
  position: relative;
  background-color: #222;
  padding: 64px 0 64px;
  overflow: hidden;
  color: #CCC;
  h2 {
    margin: 0 0 16px 0;
    color: #FFF;
  }
  &:before {
    z-index: 1;
    display: none;
    content:'';
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: 0;
    width: 100%;
    height: 100%;
  }
  ul.logos-list {
    position: relative;
    z-index: 1;
    padding: 16px 0 32px;
    text-align: center;
    li {
      background: rgba(255,255,255,1);
      width: 16.3%;
      vertical-align: top;
      height: 80px;
      margin-bottom: 4px;
      display: inline-block;
      text-align: center;
      line-height: 80px;
      -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
      @media (max-width: 1200px) {width:16.2%;}
      @media (max-width: 992px) {width:24.5%;}
      @media (max-width: 768px) {width:48.9%;}
      img {
        max-width: 80%;
        max-height: 80%;
        padding: 8px;
      }
    }
  }
  .customers-block {
    .thumbnails {
      padding: 0;
      margin: 0;
      text-align: center;
      li {
        display: inline-block;
        vertical-align: top;
        background: #444;
        width: 7.9%;
        height: 50px;
        overflow: hidden;
        padding: 0;
        margin: 0 0 4px;
        @media (max-width: 1200px) {width:16.2%;}
        @media (max-width: 992px) {width:32.8%;}
        @media (max-width: 768px) {width:32.5%; height: 60px;}
        &.active {
          a {
            opacity: 1;
            &:before {
              background-color: rgba(255,255,255,0);
              -webkit-box-shadow: inset 0px 0px 58px 10px rgba(0,0,0,0.75);
              -moz-box-shadow: inset 0px 0px 58px 10px rgba(0,0,0,0.75);
              box-shadow: inset 0px 0px 58px 10px rgba(0,0,0,0.75);
            }
          }
        }
      }
      a {
        position: relative;
        background:#FFF;
        display: block;
        overflow: hidden;
        opacity: 0.4;
        &:hover {
          cursor:pointer;
          &:before {
            background-color: rgba(255,255,255,0);
            -webkit-box-shadow: inset 0px 0px 58px 10px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px 0px 58px 10px rgba(0,0,0,0.75);
            box-shadow: inset 0px 0px 58px 10px rgba(0,0,0,0.75);
          }
        }
        img {
          width: 100%;
        }
        &:before {
          background-color: rgba(255,255,255,0.3);
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }
    .large-image {
      background: #444;
      vertical-align: middle;
      height: 640px;
      overflow: hidden;
      position: relative;
      @media (max-width: 1200px) {height:560px;}
      @media (max-width: 992px) {height:480px;}
      @media (max-width: 768px) {height:320px;}
      @media (max-width: 480px) {height:256px;}
      span {
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          position: absolute;
          -webkit-box-shadow: inset 0px 0px 158px 10px rgba(0,0,0,0.45);
          -moz-box-shadow: inset 0px 0px 158px 10px rgba(0,0,0,0.45);
          box-shadow: inset 0px 0px 158px 10px rgba(0,0,0,0.45);
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

.get-started {
  background-color: red;
  padding: 64px 0 64px;
  background-color: #FFF;
  h2 {
    margin-bottom: 16px;
  }
  .btn {
    margin-top: 16px;
    &.btn-default {
      white-space: normal;
      text-align: left;
    }
  }
}

.common-footer {
  padding-top: 64px;
  font-size: 14px;
  font-weight: 400;

  .footer-col {
    width: 49.5%;
    vertical-align: top;
    display: inline-block;
  }
  a {
    line-height: 32px;
    color: #777;
    display: block;
    &:hover {color: $rise-blue;}
  }
  .bottom-links {
    margin-top: 32px;
    padding-bottom: 16px;
    .logo {
      img {
        width: 80px;
      }
    }
    a {
      display: inline-block;
      line-height: 20px;
      margin-bottom: 4px;
      &.btn {
        font-size: 14px;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  @media (max-width: 768px) {
    .bottom-links {
      p {
        display: block;
        width: 100%;
      }
    }
  }
}

.footer-icons {
  margin-right: 32px;
  font-size: 24px;
  float: right;
  line-height: 32px;
  @media (max-width: 768px) {
    float: none;
    clear: both;
    width: 100%;
    margin-top: 16px;
  }
  .fa {
    margin-right: 10px;
  }
}

.page-header {
  background: #FFF;
  border: none;
  padding-top: 124px;
  padding-bottom: 16px;
  margin: 0;
  @media (max-width: 768px) {
    padding-top: 92px;
  }
  h1 {
    margin-bottom: 0;
    line-height: 60px;
    font-size: 48px;
    font-weight: 500;
  }
  h2 {
    margin-bottom: 8px; 
    font-size: 48px;
  }
  h2 + p {
    font-size: 24px;
    color: #777;
    font-weight: 300;
  }
  .image {
    float: left;
    border: 1px solid $lighter-gray;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 128px;
    }
    @media (max-width: 768px) {
      float:right;
    }
  }
  .image + p {
    margin-left: 148px;
    font-size: 20px;
    color: #777;
    font-weight: 300;
    @media (max-width: 768px) {
      margin-left:0;
    }
  }
}

.webinar-header {
  .image {
    margin-right: 32px;
    img {
      width: 144px;
    }
  }
  p {
    margin-top: 32px;
  }
}

.icon-label {
  font-size: 14px;
  vertical-align: top;
}

.page-content {
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.37) 49%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(255,255,255,0.37)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.37) 49%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.37) 49%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.37) 49%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.37) 49%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  h3 {
    margin: 32px 0 16px;
    &:first-child {
      margin-top: 8px;
    }
  }
  h2 {
    margin: 48px 0 32px;
    &:first-child {
      margin-top: 8px;
    }
  }
  p {
    margin-bottom: 16px;
  }
  
  .display-box {
    width: 300px;
    margin: 0;
  }
}



.team-list {
  margin: 32px -10px 0 0;
  text-align: center;
  .team-member {
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.37) 49%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(255,255,255,0.37)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.37) 49%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.37) 49%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.37) 49%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.37) 49%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    text-align: left;
    width: 19.65%;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 10px 10px 0;
    margin-bottom: 5px;
    h5 {
      position: relative;
      line-height: 18px;
      z-index: 1;
      color: #FFF;
      margin-top: -86px;
      margin-bottom: 0;
      padding: 40px 10px 10px;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      span {
        font-weight: 400;
        color: $light-gray;
      }
    }
    p {
      line-height: 1.6em;
    }
    @media (max-width: 1200px) {
      width: 19.5%;
    }
    @media (max-width: 992px) {
      padding: 5px 5px 0;
      h5 {
        padding: 45px 6px 6px;
        font-size: 13px;
        letter-spacing: -0.5px;
        span {
          font-size: 12px;
        }
      }
    }
    @media (max-width: 768px) {
      width: 32.3%;
    }
    @media (max-width: 480px) {
      width: 48%;
    }
    img {
      width: 100%;
      vertical-align: top;
    }
    .team-social-icons {
      width: 50%;
      padding: 8px;
      border-top: 3px solid $rise-green;
      a {
        display: none;
        padding: 8px;
        font-size: 16px;
      }
      @media (max-width: 768px) {
        width: 50%;
      }
    }
  }
}

.slides li {
  opacity: 0.5;
  &.flex-active-slide {
    opacity: 1;
  }
}


.experimental {
  background-color: $rise-green;
  color: #FFF;
  font-size: 14px;
  display: block;
  font-weight: 500;
  padding: 16px;
  margin-top: -64px;
  margin-bottom: 16px;
  line-height: 22px;
  position: relative;
  &:hover {
    background-color:lighten($rise-green,5%);
    color: #FFF;
  }
}

.fade-bottom {
   background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.fade-top {
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#webinar-frame {
  background: #222;
  iframe {
    margin: 16px;
    width: 800px;
    height: 600px;
  }
}

/* Designer Referral Page */
.splash-img {
  position: relative;
  width:100%;
  height: auto;
}

.splash-text {
  position: relative;
  margin-bottom: 0px;
  padding-top:80px;
  font-weight: 300 !important;
}

.green-header {
  color: $rise-green;
  font-weight: 900;
}

.alt-home {

  background: url('https://s3.amazonaws.com/Rise-Images/Experimental/screens.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 
  h2 {
    font-weight: 400;
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  .home-banner {
    background: rgba(50,50,50,0.5);
    margin-top: 70px;
    padding: 96px 0;
    h1 {
      font-size: calc(45px + 0.1vw);
      font-weight: 500;
      margin: 0;
      color: #FFF;
      line-height:54px; 
      padding-bottom:15px
    }
  }
  .home-features {
    background: #FFF;
    .content-box {

    }
    h3 {
      margin-top: 0;
      margin-bottom: 4px;
      white-space: normal;
      display: block;
    }
    p {
      font-size: 15px;
      line-height: 1.4;
    }
    .image-icon {
      width: 96px;
      margin-right: 15px;
      float: left;
      img {
        width: 100%;
      }
    }
  }
  .home-logos {
    background: rgba(50,50,50,0.8);
  }
  .home-banner-bottom {
    background: rgba(255,255,255,0.9);
    padding-bottom: 64px;
    p {
      font-size: 16px;
      line-height: 1.5;
    }
    h3 {
      margin-bottom: 8px;
      margin-top: 32px;
    }
    .modern-display {
      background: rgb(76,76,76); /* Old browsers */
      background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 50%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
      background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 50%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      padding: 8px;
      border-radius: 3px;
      margin-top: -32px;
      border: 1px solid #444;
      display: inline-block;
      .modern-display-content {
        overflow: hidden;
        span {
          background: #222;
          max-height: 320px;
          max-width: 480px;
          display: block;
          position: relative;
          .flexslider {
            position: relative;
          }
          img {
            width: 100%;
          }
          &:before {
            content:'';
            border:2px solid #000;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0.1;
            z-index: 100;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,ffffff+50&amp;0.21+0,1+50,0+51 */
            background: -moz-linear-gradient(-45deg,  rgba(249,249,249,0.21) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(249,249,249,0.21)), color-stop(50%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(-45deg,  rgba(249,249,249,0.21) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 50%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(-45deg,  rgba(249,249,249,0.21) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 50%); /* Opera 11.10+ */
            background: -ms-linear-gradient(-45deg,  rgba(249,249,249,0.21) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 50%); /* IE10+ */
            background: linear-gradient(135deg,  rgba(249,249,249,0.21) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 50%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36f9f9f9', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            -webkit-box-shadow: inset 0px 0px 25px 2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 25px 2px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 25px 2px rgba(0,0,0,0.75);
          }
        }
      }
    }
  }
  .home-pricing {
    padding: 48px 0 32px;
  }
}


.flex-direction-nav a:before {
    font-family: fontawesome;
    content: '\f053';
  }
  .flex-direction-nav a.flex-next:before {
    content: '\f054';
  }

  .btn-gloss {
    font-size: 20px;
    font-weight: 300;
    border-radius: 2px;
    padding: 20px 30px;
  }

  .navbar {
  background: #ffffff;
  border-bottom: none !important;
}

.home-banner {
  margin-top: 0 !important;
  padding: 192px 0 128px !important;
}


.ryan-picture-bg {
    background-image:url('https://s3.amazonaws.com/Rise-Images/Experimental/ryan-webinar.png'); 
    background-size:cover;
  }

.customer-stories-header{
  padding-top: 30px;
  text-align: center;
}

.gallery{
    margin-bottom: 2%;
  }
  .gallery-row{
    margin-top: 2%;
    margin-bottom:2%;
  }
  .gallery-image{
    width:100%;
    height:250px;
    margin: 1%;
    margin: 0 auto;
    overflow: hidden;
  }
  .image-container{
    width: 100%;
    height: 250px;
  }

.customer-story{
  max-height:200px; 
  overflow:hidden;
}
.customer-story img{
  width:100%; 
  height:200px;
}
.customer-story-box h3{
  padding-top:15px;
  font-weight: 500;
}
.customer-story-box p{
  font-size:18px;
}

.webinar-video-container-recorded-page video{
    max-width: 100%;
    height: 451px;
}
.webinar-video-container video{
    max-width: 80%;
    height: auto;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .gallery{
    margin-bottom: 2%;
  }
  .gallery-row{
    margin-top: -2%;
    margin-bottom:0%;
  }
  .gallery-image{
    width:100%;
    height:400px;
    margin: 1%;
    margin: 0 auto;
    overflow: hidden;
  }
  .image-container{
    width: 100%;
    height: 400px;
    margin-top: 2%;
    margin-bottom: 2%;
  }


}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .page-header h2+p{
    font-size: 18px;
  }
  .gallery{
    margin-bottom: 2%;
  }
  .gallery-row{
    margin-top: -2%;
    margin-bottom:0%;
  }
  .gallery-image{
    width:100%;
    height:250px;
    margin: 1%;
    margin: 0 auto;
    overflow: hidden;
  }
  .image-container{
    width: 100%;
    height: 250px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}


@media (max-width: 992px) {
  .ryan-picture-bg {
    background-image:none; 
    background-size:cover;
  }
  .alt-home .home-banner h1{
    font-size: 34px;
    line-height:38px; 
    padding-bottom:5px;
    padding-top:0px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
  }
}

@media (max-width: 1200px) {
  .alt-home .home-banner h1{
    font-size: 34px;
    line-height:38px; 
    padding-bottom:5px;
  }
}
@media (max-width: 768px){
  .alt-home .home-banner h1{
    font-size: 34px;
    line-height:38px; 
    padding-bottom:5px;
    padding-top:20px;
  }
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%;}
}

div#css-slider { overflow: hidden; }
div#css-slider figure img { width: 20%; float: left; }
div#css-slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

.modern-display {
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4c4c4c), color-stop(12%, #595959), color-stop(25%, #666666), color-stop(39%, #474747), color-stop(50%, #2c2c2c), color-stop(51%, black), color-stop(60%, #111111), color-stop(76%, #2b2b2b), color-stop(91%, #1c1c1c), color-stop(100%, #131313));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 8px;
  border-radius: 3px;
  margin-top: 0px;
  border: 1px solid #444;
  display: inline-block;
}

.modern-display .modern-display-content {
  overflow: hidden;
}

.modern-display .modern-display-content span {
  background: #222;
  max-height: 320px;
  max-width: 480px;
  display: block;
  position: relative;
}

.modern-display .modern-display-content span .flexslider {
  position: relative;
}

.modern-display .modern-display-content span img {
  width: 100%;
}

.modern-display .modern-display-content span:before {
  content: '';
  border: 2px solid #000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: 100;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,ffffff+50&amp;0.21+0,1+50,0+51 */
  background: -moz-linear-gradient(-45deg, rgba(249, 249, 249, 0.21) 0%, white 50%, rgba(255, 255, 255, 0) 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(249, 249, 249, 0.21)), color-stop(50%, white), color-stop(50%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(249, 249, 249, 0.21) 0%, white 50%, rgba(255, 255, 255, 0) 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(249, 249, 249, 0.21) 0%, white 50%, rgba(255, 255, 255, 0) 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(249, 249, 249, 0.21) 0%, white 50%, rgba(255, 255, 255, 0) 50%);
  /* IE10+ */
  background: linear-gradient(135deg, rgba(249, 249, 249, 0.21) 0%, white 50%, rgba(255, 255, 255, 0) 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36f9f9f9', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1200px) {
 .modern-display .modern-display-content span {
  background: #222;
  max-height: 240px;
  max-width: 400px;
  display: block;
  position: relative;
  }
}
@media (max-width: 992px) {
  .modern-display .modern-display-content span {
  background: #222;
  max-height: 240px;
  max-width: 400px;
  display: block;
  position: relative;
  }
}
@media (max-width: 768px){
  .modern-display{
    display: none;
  }

}