<div ng-show="!expandedFormat">
  <h3 ng-disable-right-click>
    <span ng-show="subscriptionStatus.statusCode !== 'not-subscribed'" ng-bind-html="'subscription-status.' + subscriptionStatus.statusCode + subscriptionStatus.plural | translate:subscriptionStatus | to_trusted"></span>
  </h3>
  
  <span ng-show="subscriptionStatus.statusCode === 'trial-available'">
    <button class="btn btn-primary btn-xs" ng-click="showStoreModal = true;">
      <span translate="subscription-status.start-trial"></span>
    </button>
  </span>
  <span ng-show="['on-trial', 'trial-expired', 'cancelled', 'not-subscribed'].indexOf(subscriptionStatus.statusCode) >= 0">
    <button class="btn btn-primary btn-xs" ng-click="showStoreModal = true;">
      <span translate="subscription-status.subscribe"></span>
    </button>
  </span>
  <span ng-show="['suspended'].indexOf(subscriptionStatus.statusCode) >= 0">
    <a type="button" class="btn btn-primary btn-xs" ng-href="{{storeAccountUrl}}" target="_blank">
      <span translate="subscription-status.view-account"></span>
    </a>
  </span>
</div>

<div ng-show="expandedFormat">
  <div class="subscription-status trial" ng-show="subscriptionStatus.statusCode === 'on-trial'">
    <span ng-bind-html="'subscription-status.expanded-' + subscriptionStatus.statusCode + subscriptionStatus.plural | translate:subscriptionStatus | to_trusted"></span>
    <button type="button" class="btn btn-primary add-left" ng-click="showStoreModal = true;">
      <span translate="subscription-status.subscribe-now"></span>
    </button>
  </div>
  <div class="subscription-status expired" ng-show="subscriptionStatus.statusCode === 'trial-expired'">
    <span translate="subscription-status.expanded-expired"></span>
    <button type="button" class="btn btn-primary add-left" ng-click="showStoreModal = true;">
      <span translate="subscription-status.subscribe-now"></span>
    </button>
  </div>
  <div class="subscription-status cancelled" ng-show="subscriptionStatus.statusCode === 'cancelled'">
   <span translate="subscription-status.expanded-cancelled"></span>
    <button type="button" class="btn btn-primary add-left" ng-click="showStoreModal = true;">
      <span translate="subscription-status.subscribe-now"></span>
    </button>
  </div>
  <div class="subscription-status suspended" ng-show="subscriptionStatus.statusCode === 'suspended'">
    <span translate="subscription-status.expanded-suspended"></span>
    <a type="button" class="btn btn-primary add-left" ng-href="{{storeAccountUrl}}" target="_blank">
      <span translate="subscription-status.view-invoices"></span>
    </a>
  </div>
</div>
