<ul>
  <li><a ui-sref="backgroundImageSettings">Background Image Settings</a></li>
  <li><a ui-sref="backgroundSettings">Background Settings</a></li>
  <li><a ui-sref="alignment">Alignment</a></li>
  <li><a ui-sref="colorPicker">Color Picker</a></li>
  <li><a ui-sref="columnSelector">Column Selector</a></li>
  <li><a ui-sref="columnSetting">Column Setting</a></li>
  <li><a ui-sref="fileSelector">File Selector</a></li>
  <li><a ui-sref="fontSetting">Font Setting</a></li>
  <li><a ui-sref="order">Order</a></li>
  <li><a ui-sref="positionSetting">Position Setting</a></li>
  <li><a ui-sref="scrollSetting">Scroll Setting</a></li>
  <li><a ui-sref="tableSetting">Table Setting</a></li>
  <li><a ui-sref="transitionSetting">Transition Setting</a></li>
  <li><a ui-sref="tooltip">Tooltip</a></li>
  <li><a ui-sref="urlField">Url Field</a></li>
  <li><a ui-sref="videoSetting">Video Setting</a></li>
  <li><a ui-sref="widgetButtonToolbar">Widget Button Toolbar</a></li>


</ul>
