<div class="component">
  <div class="page-header">
    <h1 class="page">Video Setting</h1>
  </div>

  <p class="lead">An Angular directive used to configure settings for a video</p>

  <p><strong>Dependencies</strong> <span class="label label-info">Bootstrap</span> <span class="label label-info">bootstrap-slider</span> <span class="label label-info">Angular</span> <span class="label label-info">angular-bootstrap-slider</span></p>

  <h3 class="add-top">Usage</h3>
  <hljs include="'video-setting-usage'"></hljs>

  <h3>Script Includes</h3>
  <p>Make sure you include the following files in <code>index.html</code></p>
  <hljs include="'script-includes'"></hljs>

  <!-- Dynamic Example -->
  <div class="examples">
    <h3>Example</h3>
    <video-setting video="video"></video-setting>
  </div>
</div>

<script type="text/ng-template" id="script-includes">
  bower_components/bootstrap/dist/js/bootstrap.js
  bower_components/angular/angular.js
  bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js
  bower_components/angular-bootstrap-slider/slider.js
  bower_components/widget-settings-ui-components/dist/js/angular/video-setting.js
</script>

<!-- Code Snippet -->
<script type="text/ng-template" id="video-setting-usage">
  <form role="form">
    <video-setting video="settings.additionalParams.video"></video-setting>
  </form>
</script>
