/* STANDARD UTILITIES 
All utilities have a prefix u_ added to them
*/

/* Line Height Utilities
   ==========================================================================
   To be used with forms and buttons
*/

/* For Normal Sized Buttons and Input Fields */
.u_lh-normal { 
  line-height: 33px;
}

/* Styling Utilities
   ========================================================================== */

.u_bordered {
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-base;
}

/* Text Utilities
 */

.u_text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u_icon-hover {
  >i {
    opacity: 0;
  }
  &:hover {
    >i {
      opacity: 1;
    }
  }
}

/* 
==========================================================================
==========================================================================
==========================================================================
DEPRECATE Old Utilities
   ========================================================================== */

.nowrap {
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

.ellipsis {
  @extend .u_text-ellipsis;
}

.ahrefdisabled {
  color: #AAAAAA;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
.highlighted {
  background: #FFFFE0;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.radio-vertical-align {
  display: inline-block;
}
		
.radio-vertical-align input,
.radio-vertical-align label {
  display: inline-block;
  vertical-align: middle;	
}

.app-navigation svg {
  width: 24px;
  height: 24px;
  background: red;
}

.app-navigation path:first-child {
  fill:#4AB767;
}
.app-navigation path:last-child {
  fill:#2D60AD;
}

.file-empty-state path {
  fill:#969595;
  opacity: .65;
}

svg:hover path {
  fill: rgba(0,0,0,.7);
}

path {
  fill: rgba(0,0,0,.4);
}

.fa.icon-gray:before {
  color: #BBB;
}
.fa.icon-red:before {
  color: #cf371f;
}
.fa.icon-green:before {
  color: $rise-green;
}
.fa.icon-white:before {
  color: $white;
}

.text-white {
  color: #FFF;
}

.row.sm-gutter {
  margin-left: -4px;
  margin-right: -4px;
}

.row.sm-gutter [class*='col-']:not(:first-child),
.row.sm-gutter [class*='col-']:not(:last-child) {
  padding-right: 4px;
  padding-left: 4px;
}

.row.no-gutter {
  margin-left: 0px;
  margin-right: 0px;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0px;
  padding-left: 0px;
}

.padding-large {
  padding: 30px;
}

.padding-large-horizontal {
  padding-left: 30px;
  padding-right: 30px;
}
.padding-small-vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}

.img-icon {
  height: 24px;
  width: 24px;
  margin-top: -4px;
  margin-right: -4px;
  vertical-align: bottom;
  display: inline-block;
  margin-left: 5px;
  background-size: 100%;
  &.img-icon-google-calendar {
    background-image: url('https://s3.amazonaws.com/Rise-Images/Icons/logo_calendar_32px.png');
  }
}

/* Deprecate
 ========================================================================== 
 ========================================================================== 
 ========================================================================== 
 ========================================================================== 
 ========================================================================== */
.button-row {
  @media (max-width: 768px) {
    .btn {
      display:block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
