<div class="form-group" >
  <label for="url" ng-if="!hideLabel">{{ "url.label" | translate }}</label>
  <div ng-class="{'input-group':!hideStorage}">
    <input id="url" name="url" type="text" ng-model="url" ng-blur="blur()" class="form-control" placeholder="http://">
    <span class="input-url-addon" ng-if="!hideStorage"><storage-selector company-id="{{companyId}}"></storage-selector></span>
  </div>
  <p ng-if="!valid" class="help-block">{{ "url.invalid" | translate }}</p>
  <div class="checkbox" ng-show="forcedValid || !valid">
    <label>
      <input name="validate-url" ng-click="doValidation = !doValidation" type="checkbox"
             value="validate-url" checked="checked"> {{"url.validate.label" | translate}}
    </label>
    <span popover="{{'url.validate.tooltip' | translate}}" popover-trigger="click"
          popover-placement="top" rv-tooltip></span>
  </div>
</div>
