<div class="row">
  <div class="col-md-2">
    <font-style bold="fontData.bold" italic="fontData.italic" underline="fontData.underline"></font-style>
  </div>
  <div class="col-md-2">
    <alignment align="fontData.align"></alignment>
  </div>
  <div class="col-md-2">
    <font-picker ng-model="fontData.font"></font-picker>
  </div>
  <div class="col-md-2">
    <font-size-picker ng-model="fontData.size"></font-size-picker>
  </div>
  <div class="col-md-2">
    <input color-picker color="fontData.color" type="text" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="font-picker-text form-group"></div>
  </div>
</div>
