<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label class="control-label">{{"scroll.heading" | translate}}</label>
      <select id="scroll-by" ng-model="scroll.by" class="form-control">
        <option value="none">{{'scroll.by.none' | translate}}</option>
        <option value="continuous">{{'scroll.by.continuous' | translate}}</option>
        <option value="page">{{'scroll.by.page' | translate}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2" ng-show="!hideDirection && scroll.by == 'continuous'">
    <div class="form-group">
      <label class="control-label">{{"transition.direction.label" | translate}}</label>
      <select id="scroll-direction" name="scroll-direction" ng-model="scroll.direction" class="form-control">
        <option value="up">{{"transition.direction.up" | translate}}</option>
        <option value="left">{{"transition.direction.left" | translate}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2" ng-show="scroll.by != 'none'">
    <div class="form-group">
      <label class="control-label">{{'scroll.speed.label' | translate}}</label>
      <select id="scroll-speed" ng-model="scroll.speed" class="form-control">
        <option value="slow">{{'scroll.speed.slow' | translate}}</option>
        <option value="medium">{{'scroll.speed.medium' | translate}}</option>
        <option value="fast">{{'scroll.speed.fast' | translate}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2" ng-show="scroll.by != 'none' && scroll.direction != 'left'">
    <div class="form-group">
      <label class="control-label">{{'scroll.pause.label' | translate}}</label>
      <div class="input-group">
        <input id="scroll-pause" type="number" ng-model="scroll.pause" class="form-control" />
        <span class="input-group-addon">{{'common.units.seconds' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-2" ng-show="scroll.by != 'none' && scroll.direction != 'left'">
    <div class="form-group">
      <label class="control-label">{{'scroll.pud.label' | translate}}</label>
      <span [popover]="'{{'scroll.pud.tooltip' | translate}}'" popover-trigger="click"
        popover-placement="right" rv-tooltip></span>
      <div class="input-group">
        <input id="scroll-pud" type="number" ng-model="scroll.pud" class="form-control" />
        <span class="input-group-addon">{{'common.units.seconds' | translate}}</span>
      </div>
    </div>
  </div>
</div>
