<div class="component">
  <div class="page-header">
    <h1 class="page">URL Field</h1>
  </div>

  <p class="lead">An Angular directive or jQuery plugin that allows a user to enter a URL.</p>

  <h3>Angular</h3>
  <p><strong>Dependencies</strong> <span class="label label-info">Tooltip</span> <span class="label label-info">UI Bootstrap</span> <span class="label label-info">Storage Selector</span></p>
  <p>The directive requires the use of the <code>url</code> attribute which configures the binding of the value for the URL.</p>
  <p>Self-validation occurs on the input field value and if deemed invalid an error message displays. Additionally, a checkbox is provided to either opt in or out of validation.</p>
  <p>When using the component within a form, add the <code>valid</code> attribute and an arbitrary model value (eg. <code>ng-model="urlentry"</code> in order to update your forms <code>$validity</code> pertaining to a valid URL entry</p>
  <p>Additionally, the Storage Selector component is available to pick a file from Storage, which fills the input field with the URL of the file selected. To do so, the directive requires the use of the <code>company-id</code> attribute which is a local scope property of the directive. The ID for the currently selected Company can be found in the URL where the ID is everything to the right of "company=", for example:</p>
  <hljs>http://rva.risevision.com/#COMPANY_MANAGE/company=XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX</hljs>
  <p>There are a number of optional attributes for further customizing the use of URL Field. You can optionally hide the label for URL Field by using the <code>hideLabel</code> attribute like so <code>hide-label="hideLabel"</code>. Similarly, the Storage Selector can be hidden using the <code>hideStorage</code> attribute like so <code>hide-storage="hide"</code>. If you need to listen for a <code>blur</code> event associated with the input field of URL Field, the component fires an event named <code>urlFieldBlur</code>. Lastly, in the scenario that you set a default value of <code>""</code> for the URL Field but you do not want the component to initially show the invalid controls, add the <code>init-empty</code> attribute.</p>
  <ul>
    <li>Include the following files:
      <hljs include="'angular-script-includes'"></hljs>
    </li>
    <li>Add the directive:
      <hljs>
        <url-field url="url" company-id="YOUR_COMPANY_ID" ng-model="urlentry" valid></url-field>
      </hljs>
    </li>
  </ul>

  <h3>jQuery</h3>
  <p><strong>Dependencies</strong> N/A</p>
  <p>The jQuery plugin version provides public methods <code>getUrl()</code>, <code>setUrl()</code>, and <code>validateUrl()</code> to use as you need.</p>
  <p>Upon calling <code>validateUrl()</code>, if deemed invalid a checkbox is provided to either opt in or out of validation.</p>
  <p>Note: An error message is not displayed in the jQuery version.</p>
  <ul>
    <li>Include the following files:
      <hljs include="'jquery-script-includes'"></hljs>
    </li>
    <li>Add the HTML:
      <hljs>
        <div id="url-field"></div>
      </hljs>
    </li>
    <li>Call the plugin:
      <hljs include="'jquery-usage'"></hljs>
    </li>
  </ul>

  <!-- Dynamic Example -->
  <div class="examples">
    <h3>Example (Angular)</h3>
    <url-field url="url"></url-field>
  </div>
</div>

<script type="text/ng-template" id="angular-script-includes">
  components/angular-bootstrap/ui-bootstrap-tpls.js
  components/widget-settings-ui-components/dist/js/angular/tooltip.js
  components/component-storage-selector/dist/storage-selector.js
  components/widget-settings-ui-components/dist/js/angular/url-field.js
</script>

<script type="text/ng-template" id="jquery-script-includes">
  components/widget-settings-ui-components/dist/js/jquery/url-field.js
</script>

<script type="text/ng-template" id="jquery-usage">
  <script type="text/javascript">
    $urlField.urlField({
      url: "http://www.risevision.com"
    });
    < /script>
</script>
