
.page-header {
  &.blog-header {
    padding-top: 48px;
  }
}


.article {
  margin-bottom: 48px;
  .headline {
    margin-top: 16px;
    margin-bottom: 8px;
    a {
      color: $dark-gray;
    }
  }
  .metadata {
    margin-bottom: 32px;
  }
  .read-time {
    float: right;
  }
  .article-label {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    background-color: lighten($rise-green, 5%);
    color: #FFF;
    padding: 0 10px;
    display: inline-block;
  }
  .article-content {
    p {
      line-height: 1.9;
    }
    img {
      max-width: 100%;
      height: auto;
      margin: 32px 0;
    }
  }
  .image {
    max-height: 300px;
    border-radius: 6px 6px 6px 0;
    margin-top: 16px;
    overflow: hidden;
    img {width: 100%;}
  }
  .comment-count {
    display: block;
    line-height: 34px;
  }
  .blog-footer {
    overflow: hidden;
    margin-top: 32px;
  }
  .blog-icons {
    border:1px solid #CCC;
    display: block;
    border-radius: 20px;
    padding: 0 10px;
    .btn {
      font-size: 16px;
      padding: 4px;
      opacity: 0.7;
      &:hover {
        opacity:1;
      }
      span {
        margin: 0 10px;
      }
      .fa {
        width: 20px;
      }
    }
  }
  .tags {
    li {
      display: inline-block;
      vertical-align: top;
      a {
        color: $gray;
        background-color: $light-gray;
        padding: 2px 8px;
        font-size: 13px;
        border-radius: 10px;
      }
    }
  }
}

.blog-sidebar {
  -webkit-transition: all 0.1s; /* Safari 3.1 to 6.0 */
  transition: all 0.1s;
  .content-box {
    padding: 32px;
  }
}

.subscribed-thanks {
  font-weight: 600;
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

.header-search {
  max-width: 200px;
}

