.post {
	line-height: 1.6;
	padding-bottom: 120px;
	font-size: 15px;
	.post-title {
		margin-bottom: 32px;
		margin-top: 0;
		font-weight: 300;
		font-size: 44px;
	}
	p {
		margin-bottom: 16px;
		&+h3 {
			margin-top: 32px;
		}
	}
	h2 {
		&+p {
			@extend .lead;
			padding-bottom: 24px;
			border-bottom: 1px solid #f2f2f2;
		}
	}
	h4 {
		margin-bottom: 8px;
		font-size: 15px;
		font-weight: 800;
		color: #333;
		&+p {
		}
	}
	.table {
		background: #FFF;
		border: 2px solid #d4d4d4;
		tbody {
			tr td > a {
				color: $rise-blue !important;
			}
		}
	}
}

.entries {
	p {
		&:first-child {
			@extend .bg-danger;
			padding: 10px;
			border-radius: 4px;
		}
	}
	article {
		padding: 0;
	}
	a {
		display: block;
		padding: 8px;
		border-bottom: 1px solid #d4d4d4;
		&:hover {
			background: #f5f5f5;
			h4 {
				color: $rise-blue;
			}
		}
		h4 {
			color: $gray;
		}
	}
}